# Fichiers temporaires
*.swp
*.tmp

# Dossiers Xcode
build/
DerivedData/

# Keychain et certificats
*.xcuserstate
*.xcworkspace
Eventorias.xcodeproj/xcshareddata/
Eventorias.xcodeproj/xcuserdata/
.DS_Store

# Swift Package Manager
Packages/
Package.resolved

GoogleService-Info.plist
